.Me {
    font-family: sans-serif;
    padding-top: 4%;
    text-align: center;
  }
  
  .updateinfo {
    text-align: "left";
    padding-top: 10%;
    margin-left: 30%;
    margin-right: 30%;
  }
  
  .description_heading {
    display: inline;
  }
  
  .description_text {
    display: inline;
    font-size: 20px;
  }
  
  .Edit-button {
    margin-top: 5%;
    margin-left: 90%;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .staticInput:focus {
    border: none;
  }
  
  .editDesc {
    font-weight: 500;
    font-size: 25px;
    font-style: sans-serif;
    margin-left: 5px;
  }
  
  .askFormButton {
    margin-left: auto;
    margin-right: 10px;
  }
  
  .clearButton {
    margin-left: 10px;
    margin-right: auto;
  }
  
  @media only screen and (max-width: 600px) {
    .askFormButton,
    .clearButton {
      padding-right: 22px;
      padding-left: 22px;
    }
    .updateinfo {
      margin-left: 5%;
      margin-right: 5%;
    }
    .Edit-button{
        margin-top: 8%;
    }
  }
  