.Askform{
    padding-top: 2.5%;
    max-width:1300px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding:15px;
    text-align: left;
    margin-top:80px;
    border-radius:2px;
}

.Askform label{
    font-weight: 700;
    font-size: 25px;
    font-style:  sans-serif;
    margin-left:5px;
}

.askFormButton {
    padding-right: 35px;
    padding-left: 35px;
    margin-left: 40%;
}

.clearButton {
    margin-left: 2px;
    padding-right: 30px;
    padding-left: 30px;
}
.form-group label{
  text-align: left;
}
@media only screen and (max-width: 360px) {
    .askFormButton,.clearButton {
        padding-right: 22px;
        padding-left: 22px;
    }
}