/* #Navbar{
    display:block;
    position:fixed;
    width:100%;
    color:white;
    padding:0;
    z-index:100;
    top:0;
}
.navbar{
  padding:0;
}
.nav-item,.dashBoard-icon,.navbar-search{
  padding:10px;
}
.nav-item , .dashBoard-icon{
  font-size: 20px;
}
.nav-item:hover{
  background-color: #b92b27;
}
.nav-item:hover{
  text-decoration: none;
  color:white;
}
.navbar-search{
  margin-right: auto;
}
.navbar-logo{
  max-width: 150px;
  height: 40px;
  margin-left: 5px;
  border-radius: 5px;
}
@media only screen and (max-width: 360px) {
  .navbar-logo{
    max-width: 100px;
    height: 30px;
    margin-left: 5px;
    border-radius: 5px;
  }
}
@media only screen and (max-width: 800px) {
  .nav-item,.navbar-search{
    border-top:1px solid;
    border-color: rgba(255,255,255,0.25);
  }
}
@media only screen and (min-width: 8000px) {

}
.btne:focus{
      outline: none;
} */

.nav-search {
  padding-left: 50px;
}

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
  }
  .offcanvas-collapse.open {
    visibility: visible;
    transform: translateX(-100%);
  }
}

